@import url("https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&family=Roboto:wght@100;300;400;500;700;900&display=swap");
* {
margin: 0%;
padding: 0%;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  overflow-x: hidden;
}

body {
  padding: 0;
  margin: 0;
  font-family: "Roboto", sans-serif;
  background-color: #34353b;
}
/* header section */
header {
  height: 100vh;
  padding: 3px 100px ;
  background-image: url(asset/model_bw.png);
  background-position: right;
  background-size: contain;
  background-repeat: no-repeat;
  width: 100vw; 

}


header nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  width: 90%;
  z-index: 99;

}

header nav img {
  height: 56px;
  width: 56px;
  object-fit: contain;
  filter: invert(70%) sepia(96%) saturate(558%) hue-rotate(359deg)
    brightness(103%) contrast(106%);
}

header nav ul {
  display: flex;
margin: auto;
height: 36px;
width: 600px;
backdrop-filter:blur(50px);
border-radius: 11px;
font-size: x-large;
justify-content: space-evenly;
background: #fec86a ;
font-family: 'Times New Roman', Times, serif;
}

header nav ul li {
  list-style: none;
  margin: 0px 20px;
}
header nav ul li:hover{
    transform: scale(1.3);
transition: all 0.3s linear;
}
header nav ul li a {
  color: #98999a;
  text-decoration: none;
  transition: all ease 0.5s;
}

header nav ul li a:hover {
  color: #fbfbfb;
  text-decoration: none;
}

header nav ul li .active {
  color: #fbfbfb;
}

/* new nev bar */
.newnev{
  display: none;
}
.main_box{
  background-image: url(photo.jpg);
  height: 30vh;
background-size: cover;
display: none;
}
.sidebar_menu{
  width: 300px;
  height: 50vh;
background: #2825258e;
position: absolute;
left: -300px;
border-radius: 10px;
}

.sidebar_menu .menu{
  height: 60px;
  position: absolute;
  width: 100%;
  top: 80px;


}
.sidebar_menu li{
padding: 3px 15px;
height: 50px;
left: 5px;
}
.sidebar_menu li:hover{
  box-shadow: 0px 0px 3px white;
  width: 270px;
}
.btn_two i{
  color: gray;
  font-size: large;
  line-height: 60px;
  position: absolute;
  left:270px;
top: 2.9px;
cursor: pointer;
}
.btn_two i:hover{
  transform: scale(1.5);
}
.btn_one{
color: #ffffff;
font-size: 30px;
font-weight: 700;
line-height: 16px;
position: absolute;
top: 15px;
left: 10px;
}
.btn_one i{
  cursor: pointer;
}

.sidebar_menu .logo a{
  width: 250px;
  height: 40px;
position: absolute;

text-decoration: none;
font-size: 20px;
color: #ffffff;
font-weight: 80px;
position: absolute;
top:20px;
left: 50px;


}
.menu{
  color: #ffffff;
  width: 100%;
  top: px;
  font-size: large;
}

.social_media{

color: #000000;
position:absolute;
left: 75px;
opacity: 0.5;
bottom: 50px;

}
a{
  color: #ffffff;
  text-decoration: none;
}
.social_media i{
  color: #e7e7e7;
  padding: 0px 5px;

}
.social_media i:hover{
  transform: scale(1.2);
  box-shadow: 0px 0px 3px white;

}
#check:checked ~ .sidebar_menu {
  left: 0;
  transition: all 0.6s linear ;

}

#check:checked ~ .btn_one i{

opacity: 0;

}
#check{
  position: absolute;
  left: -50px;
}
.wrap-input-17 * {
  box-sizing: border-box;
  
 }

.wrap-input-17 .search-box{
  width: fit-content;
  height: fit-content;
  position: relative;
 }
 
 .wrap-input-17 .input-search{
  height: 50px;
  width: 50px;
  border-style: none;
  padding: 10px;
  font-size: 18px;
  letter-spacing: 2px;
  outline: none;
  border-radius: 25px;
  transition: all .5s ease-in-out;
  background-color: 
 #fff;
  padding-right: 40px;
  color:
 #fff;
 }
 .wrap-input-17 .input-search::placeholder{
  color:
 rgba(255,255,255,.5);
  font-size: 18px;
  letter-spacing: 2px;
  font-weight: 100;
 }
 .wrap-input-17 .btn-search{
  width: 50px;
  height: 50px;
  border-style: none;
  font-size: 20px;
  font-weight: bold;
  outline: none;
  cursor: pointer;
  border-radius: 50%;
  position: absolute;
  right: 0px;
  color:
 #ffffff ;
  background-color:
 transparent;
  pointer-events: painted;  
 }
 .wrap-input-17 .btn-search:focus ~ .input-search{
  width: 300px;
  border-radius: 0px;
  background-color: 
 transparent;
  border-bottom:1px solid 
 rgba(255,255,255,.5);
  transition: all 500ms cubic-bezier(0, 0.110, 0.35, 2);
 }
 .wrap-input-17 .input-search:focus{
  width: 300px;
  border-radius: 0px;
  background-color: 
 transparent;
  border-bottom:1px solid 
 rgba(255,255,255,.5);
  transition: all 500ms cubic-bezier(0, 0.110, 0.35, 2);
 }





.landing {
  display: flex;
  height: 90vh;
  background-color: transparent;
  align-items: center;
  justify-content: space-between;
}

.landing .intro {
  display: flex;
  flex-direction: column;
}

.landing .intro h3 {
  color: #fbfbfb;
  font-weight: 400;
  font-size: 32px;
  margin-left: 10vw;
  font-family: 'Times New Roman', Times, serif;
}

.landing .intro h3 span {
  color: #fec86a;
  font-weight: 600;
  font-size: 3.5rem;
}

.intro button {
  height: 48px;
  width: 144px;
  margin-top: 2.5vh;
  margin-left: 10vw;
  background-color: transparent;
  border: 2px solid #fec86a;
  border-radius: 8px;
  color: #fec86a;
  font-size: 16px;
  transition: all ease 0.5s;
}

.intro button:hover {
  background-color: #fec86a;
  color: #34353b;
}

.socials {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  margin-top: 50vh;
  right: 5px;
  
}
.socials i:hover{
    transform: scale(1.3);
    color: #fec86a;
    transition: all 0.2s linear;
    cursor: pointer;
}

.socials .line {
  background-color: #fec86a;
  height: 15vh;
  width: 2.5px;
}

.socials i {
  color: #fbfbfb;
  font-size: 36px;
}

.about {
  height: 40vh;
  width:100%;
  padding: 20px;
  position: relative;
bottom: 40px;
  
}

.about h1 {
  font-size: 56px;
  font-weight: 700;
  color: #fbfbfb;
  font-family:"Libre Baskerville", serif;
  justify-self: start1;
}

.about .description {
  
}

.about .description .line {
  height: 2.5px;
  width: 400px;
  background-color: #fec86a;
  margin-right: 32px;
}

.about .description p {
  color: #fbfbfb;
  font-size: 20px;
  margin-top: 20px;

}

.about .description p span {
  color: #fec86a;
}
span{
  color: #fec86a;
}

.skills {
  display:block;
  background: #000;
  width: 100%;

}

.skills h1 {
  font-size: 56px;
  font-weight: 700;
  color: #fbfbfb;
  font-family: "Libre Baskerville", serif;
  justify-self: start;
}

.cards {
  display: flex;
  align-items: center;
  width: 100%;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 50px;
  gap: 2.5vh;
}

.skill-card {
  height: 20vw;
  width: 20vw;
  background-color: #3d3e42;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  align-items: center;
  justify-content: center;
  gap: 2.5vh;
  transition: all ease 0.5s;
}

.skill-card:hover {
  background-color: #fec86a;
}

.skill-card img {
  height: 7.5vw;
  width: 7.5vw;
  object-fit: contain;
}

.skill-card h2 {
  font-size: 30vm;
  font-weight: 400;
  color: #ffffff;
  font-family: 'Times New Roman', Times, serif;
  
}
/* Projects section */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
#project-section h2{
  font-size: 56px;
  font-weight: 600;
  color: #ffffff;
  font-family: "Libre Baskerville", serif;
position: relative;
left: 30px;
}
.body {
  height: 100svh;
  overflow-x: hidden;
  background-color: #000;
  color: #e7e7e7;
  box-sizing: border-box;
  font-family: "Lato", sans-serif;
  font-weight: 400;
}
.project-section {
  height: 100%;
  background:  #34353b;
}
.container1 {
  max-width: 1200px;
  margin: 0 auto;
  padding: 40px 0;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  min-height: 710px;
}
.project-section   h3 {
  font-size: 30px;
  margin-bottom: 20px;
  font-weight: 600;
  color: #d3d1d1;
  font-family: "Libre Baskerville", serif;
}
.project-section p {
  font-size: 18px;
  font-weight: 400;
  color: #d3d1d1;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}
a.zoomed p {
  -webkit-line-clamp: unset;
}
a.zoomed .card-inner {
  overflow: auto;
}
a.opacity-0 {
  opacity: 0;
}
.overflow {
  overflow: hidden;
}
.overflow .background {
  opacity: 0 !important;
}

.background {
  background-color:#fec86a;
  border-radius: 20px;
  position: absolute;
  transition: all 0.4s ease-in-out;
  opacity: 0;
}
.card-wraper {
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  justify-content: space-between;
}
a.card {
  text-decoration: none;
  height: 100%;
  width: 100%;
  display: inline-block;
  position: relative;
  padding: 10px;
}
.card-main {
  border: 1px solid #847e7e;
  padding: 40px;
  width: 100%;
  height: 100%;
  min-height: 300px;
  border-radius: 20px;
  overflow: hidden;
  background-color: #000;
}
.card:hover .card-main {
  position: relative;
  z-index: 20;
}
.card-inner {
  position: relative;
  z-index: 50;
  height: 100%;
}
.card-inner div {
  height: 100%;
}
.project-section img {
  height: 100%;
  width: 100%;
}

@media screen and (max-width: 1199px) {
  .container {
    max-width: 960px;
  }
}

@media screen and (max-width: 991px) {
  .body {
    height: 100%;
  }
  .container1 {
    max-width: 720px;
    display: block;
  }
  .card-wraper {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
}

@media screen and (max-width: 767px) {
  .container {
    max-width: 520px;
  }
  .card-wraper {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
  .card-main {
    padding: 30px 20px;
  }
  a.card {
    padding: 6px;
  }
}

@media screen and (max-width: 575px) {
  .container {
    max-width: 100%;
  }
  .card-wraper {
    grid-template-columns: repeat(1, minmax(0, 1fr));
  }
  .card-main {
    padding: 40px;
  }
  a.card {
    padding: 10px;
  }
}




/* .experience {
  display: flex;
  flex-direction: column; */
  /* height: 100vh; */
  /* width: 100vw;
  position: relative;
  align-items: center;
  justify-content: center;
} */

/* .darker-div {
  background-color: #34353a;
  width: 100vw;
  height: 10vh;
}

.experience h1 {
  position: absolute;
  color: #fbfbfb;
  font-size: 56px;
  font-family: "Libre Baskerville", serif;
  transform: translate(-50%, -50%);
  top: 10%;
  left: 15%;
} */

/* .lighter-div {
  background-color: #3d3e42;
  width: 100vw;
  /* height: 90vh; */
  /* padding: 10vh;
  display: flex;
  flex-direction: column;
  gap: 50px;
} */ */

/* .lighter-div .exp {
  height: 30vh;
  width: 50vw;
  position: relative;
  margin-left: 20vh;
}

.exp h2 {
  color: #fbfbfb;
  font-size: 32px;
  font-weight: 400;
} */
/* 
.exp h2::before {
  content: "";
  height: 20px;
  width: 20px;
  color: #fec86a;
  background-color: #fec86a;
  position: absolute;
  transform: translate(-50%, -50%);
  top: 7.5%;
  left: -5%;
  border-radius: 50%;
  box-shadow: 0px 0px 20px 5px #fec86a;
}

.exp-desc::before {
  content: "";
  height: 190px;
  width: 2.5px;
  background-color: #fbfbfb;
  position: absolute;
  transform: translate(-50%, -50%);
  top: 55%;
  left: -5%;
}
.exp-desc h3 {
  color: #fbfbfb;
  font-size: 20px;
  font-weight: 400;
  margin: 10px 0;
}

.exp-desc p {
  color: #fbfbfb;
  font-size: 16;
  font-weight: 400;
} */



.contact-me {
  width: 250px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content:center;
  display: flex; 
}
.contact-card {
  background-color: #fec86a;
display: flex;
  padding: 10px;
  border-radius: 8px;
  margin-top: 7.5vh;
  width: 50px;
  
}
.ab{
  cursor: pointer;
    position:absolute;
    left: 650px;
    top: 59px;
    filter: grayscale(100%);
    animation: float 2s ease-in-out infinite;
}
@keyframes float {
  0%, 100% {
      transform: translateY(0);
  }
  50% {
      transform: translateY(-10px);
  }
}
.ab:hover{
    filter: grayscale(0);
    transition: all 0.4s linear;
  
}
.wrapper {
  height: 100vh;
  /*This part is important for centering*/
  display: grid;
  place-items: center;
}
.span1{
  display: inline-block;
  overflow: hidden;
  white-space: nowrap;
  border-right: 3px solid #fec86a ;
  animation: blink-caret 0.75s step-end infinite; 
  position: relative;
  top: 20px;
}

.span{
  display: inline-block;
  font-family: monospace;
  font-size: 1.5em;
  animation: typing 5s steps(40, end) infinite, blink-caret 5s step-end infinite;
  white-space: nowrap;
  overflow: hidden;
}
 

   @keyframes typing {
            0% { 
                width: 0; 
            }
            50% { 
                width: 100%; 
            }
            100% {
                width: 0;
            }
        }

        @keyframes blink-caret {
            from, to { border-color: transparent; }
            50% { border-color:#fec86a; }
        }
/* Contact Section */
.fullcontact{
  background:  #000000;
}

.contact form {
    max-width: 600px;
    margin: 0 auto;
    text-align: left;
    display:inline;
}
.contact h2 {
  display:block;
  font-size: 56px;
  color: #ffffff;
  font-family: "Libre Baskerville", serif;
  font-weight: 700;
  text-align: start;
  position: relative;
  left: 30px;
}


.contact label{
    display: block;
    margin: 0.5rem 0 0.2rem;
    color:white;
    left: 20px;
    position: absolute;
    left: 190px;
}

.contact input, .contact textarea {
  display: flex;
  justify-content: center;
  margin: auto;
    width: 56%;
    height: 50px;
    padding: 0.5rem;
    margin-bottom: 1rem;
    border: 1px solid #ccc;
    border-radius: 5px;
    transition: border-color 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

.contact input:focus, .contact textarea:focus {
    border-color:rgb(255, 255, 255);
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

.contact button {
    display: block;
    width: 40%;
    padding: 0.7rem;
    background:gray;
    margin: auto;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background 0.3s ease-in-out;
}

.contact button:hover {
    background:  #fec86a;
}
 .skill-card img{
mix-blend-mode: multiply;

}
#contact-loc{
width: 100%;
display: flex;
justify-content: center;
align-items: center;


}
.contact12{
margin: auto;
  width: 100%;
display: grid;
place-items: center; 
}
.contact-card {
  background-color: #fec86a;

  padding: 10px;
  border-radius: 8px;
  width: 230px;
  
}
/* skills percentage */
/* Make sure that padding behaves as expected */
* {box-sizing:border-box}
/* Container for skill bars */
.container {
  width: 100%; /* Full width */
  background-color: #ddd; 
  border-radius: 7px;/* Grey background */
}
.skills {
  text-align:start; /* Right-align text */
  padding-top: 10px; /* Add top padding */
  padding-bottom: 10px; /* Add bottom padding */
  color: white;
  border-radius: 7px; 
  position: relative;/* White text color */
}
.skills .html,.css,.js,.php,.java{
 position: relative;
 right: 15px;
}
p{
  font-size: large;
  font-family: 'Times New Roman', Times, serif;
}

.html {width: 90%; background-color: #04AA6D;} /* Green */
.css {width: 80%; background-color: #2196F3;} /* Blue */
.js {width: 40%; background-color: #f44336;} /* Red */
.php {width: 90%; background-color: #808080;} /* Dark Grey */
.java{  width: 50%;
  background-color: #fea101;
}
  
/* scroller bar */

::-webkit-scrollbar{
  width: 15px;
}
::-webkit-scrollbar-thumb{
  background:#fec86a;
  border-radius: 5px;
}
::-webkit-scrollbar-track{
  border-radius: 7px;
}
@media screen and (max-width:430px) {
 
  *{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
  }
  .skill-card h2 {
    font-size:2rem;
    font-weight: 300;
    color: #ffffff;
    
  }
  .cards{
   
  }
  .skill-card{
height: 60%;
  width:45%;
    display: flex;
  }
 .skills h1{
  font-size:50px;
 }
  .about{
    display:inline-block;
    flex-wrap: nowrap;
    flex-direction: column;
    width: 60vm;
  }
  .intro h3{
  max-width: 0px;
  position:relative;
  right:100px;
  font-size: small;
  }
  .intro button{
    position: relative;
    right: 90px;
  }
  .intro span{
    font-size: small;
  }
header nav{
  display: none;
}
.intro img{
  display: none;
}

  .socials{
    position: relative;
    left:25%
  }
  nav{
    display: none;
  }
  *{
    margin: 0;
    padding: 0;

}
.newnev{display: block;}
.main_box{
    background-image: url(photo.jpg);
    height: 1vh;
background-size: cover;
display: block;
}
.sidebar_menu{
    width: 300px;
    height: 60vh;
background:#000000;
position: absolute;
left: -300px;
z-index: 22;
display: block;

}

.sidebar_menu .menu{
    height: 60px;
    position: absolute;
    width: 100%;
    top: 80px;
}
.sidebar_menu li{
padding: 3px 15px;
height: 50px;
left: 5px;
transition: all 0.2s linear;

}
.sidebar_menu li:hover{
    box-shadow: 0px 0px 3px white;
    width: 270px; 
   }
.btn_two i{
    color: gray;
    font-size: large;
    line-height: 60px;
    position: absolute;
    left:270px;
 top: 2.9px;
 cursor: pointer;
}
.btn_two i:hover{
    transform: scale(1.5);
}
.btn_one{
 color: #ffffff;
 font-size: 30px;
 font-weight: 700;
 line-height: 16px;
 position: absolute;
 top: 15px;
 left: 10px;
}
.btn_one i{
    cursor: pointer;
}

.sidebar_menu .logo a{
    width: 250px;
    height: 40px;
position: absolute;

text-decoration: none;
font-size: 20px;
color: #ffffff;
font-weight: 80px;
position: absolute;
top:20px;
left: 50px;
}
.menu{
    color: #ffffff;
    width: 100%;
    top: px;
    font-size: large;
}

.social_media{
color: #000000;
position:absolute;
left: 75px;
opacity: 0.5;
bottom: 50px;
}
a{
    color: #ffffff;
    text-decoration: none;
}
 .menu a:hover{
  text-decoration: none;
  color: white;
}
.menu li:hover{
  transform: scale(1.1);
}
.social_media i{
    color: #e7e7e7;
    padding: 0px 5px;
}
.social_media i:hover{
    transform: scale(1.2);
    box-shadow: 0px 0px 3px white;
}
#check:checked ~ .sidebar_menu {
    left: 0;
    transition: all 0.6s linear ;
}

#check:checked ~ .btn_one i{
opacity: 0;
}
#check{
    position: absolute;
    left: -50px;
}

 }
